<% provide(:title, 'Add Bill') %>
<h1>Give Details of Purchase </h1>
<br>
<form class="new_bill" id="new_bill" action="/bills" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      

      <label for="bill_project">Project</label>
      <input class="form-control" type="text" name="bill[project]" id="bill_project" required maxlength="100" />
      <br>

      <label for="bill_amount">Amount</label>
      <input class="form-control" type="number" step="any" name="bill[amount]" id="bill_amount" min="0" max = "10000000" required/>
      <br>

      <label for="bill_purchase_date">Date of Purchase (yyyy-mm-dd)</label>
      <input class="form-control" type="date" placeholder="yyyy-mm-dd" name="bill[purchase_date]" id="bill_purchase_date" required/>
      <br>
      
      <input type="submit" name="commit" value="ADD" class="btn btn-primary" />
</form>

